<app-tab></app-tab>
<div class="assistant-container">
  <div class="layout-container">
    <!-- Información del usuario -->
    <div class="user-info">
      <h2>Información del Usuario</h2>
      <p><strong>Nombre:</strong> {{ user.name }}</p>
      <p><strong>Nivel:</strong> {{ user.level }}</p>
      <p><strong>Progreso:</strong> {{ progress }}%</p>
      <div class="progress-container">
        <div class="progress-bar">
          <div
            class="progress-bar-fill"
            [style.width]="progress + '%'">
          </div>
        </div>
      </div>
      <p><strong>Aciertos:</strong> {{ correctAnswers }}</p>
      <p><strong>Fallos:</strong> {{ incorrectAnswers }}</p>
    </div>

    <!-- Área de práctica -->
    <div class="practice-area">
      <h3>Práctica de Escritura</h3>
      <br><br>
      <button (click)="playWord()">🔊 Escuchar Palabra</button>
      <br><br><br>
      <input 
        type="text" 
        [(ngModel)]="userInput" 
        placeholder="Escribe la palabra aquí" 
      />
      <br>
      <br><button (click)="validateWord()">Validar</button>
    </div>

    <!-- Sección de Feedback -->
    <div class="feedback-section">
      <h3>Feedback</h3>
      <textarea
        class="feedback-box"
        readonly
        [value]="feedback">
      </textarea>
      <img
          class="feedback-avatar"
          [src]="avatarState"
          alt="Feedback Avatar" />
          <br><br>
        <button class="play-feedback" (click)="playFeedback()" aria-label="Reproducir Feedback">🔊 Escuchar Feedback</button>
      </div>
    </div>
  </div>
